NODE_ENV=development

PORT=2301
HOST_NAME=0.0.0.0

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=admin
MONGO_PASSWORD=123456
MONGO_DB_NAME=my_mogo_database

JWT_SECRET=btlweb
MONGODB_URI=mongodb+srv://austin:2005@btl-event.9jybh2j.mongodb.net/?retryWrites=true&w=majority&appName=btl-event